@font-face {
  font-family: "Pragmatica";
  src: url("fonts/fonnts.com-Pragmatica_Ext_Book.otf") format("truetype");
}
#root {
  font-family: "Anton", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MAIN */
.main-background {
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
  position: relative;
}
.main-background h1 {
  font-size: 120px;
  width: 45vw;
  margin: 0;
  color: #c1ff72;
  display: flex;
  flex-wrap: wrap;
  transform: translate(80px, 280px);
  line-height: 1;
  position: absolute;
}
#h1-white {
  color: white;
}
.main-background .signup {
  padding: 10px 20px;
  background-color: #c1ff72;
  color: #343434;
  font-family: "Pragmatica";
  font-size: 20px;
  border: none;
  border-radius: 45px;
  height: 80px;
  width: 200px;
  transform: translate(900px, 420px);
}
.signup:hover {
  background-color: #95cb4e;
}
.signup:active {
  background-color: #c1ff75;
}
/* OPINIONS */
.opinions-container,
.signup-call {
  width: 100vw;
  height: 60vh;
  margin-top: 0;
  background-color: #f1f1f1;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.opinions-container h3 {
  color: #343434;
  font-size: 2.4em;
  position: absolute;
  margin-top: 40px;
}
#op1,
#op2,
#op3,
#op4 {
  width: 220px;
  height: 350px;
  border: 0px solid black;
  border-radius: 30px;
  background-color: #d1ff9e;
  font-family: "Pragmatica";
  font-size: small;
  color: #343434;
  margin: 40px 10px 0 10px;
  transform: translateY(100px);
}
.opinions-container p {
  width: 180px;
  height: 280px;
  text-align: center;
  margin-top: 60px;
  margin-left: 20px;
  font-size: 14px;
}
#avatar1,
#avatar2,
#avatar3,
#avatar4 {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 40px;
  transform: translate(65px, -40px);
}
/* OUR APP */
.our-workout-routines-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.our-workout-routines-container h1 {
  font-size: 120px;
  width: 28vw;
  position: absolute;
  margin: 0;
  color: #c1ff72;
  transform: translate(80px, 40px);
  line-height: 1;
}
.our-workout-routines-container .signup {
  padding: 10px 20px;
  background-color: #c1ff72;
  color: #343434;
  font-family: "Pragmatica";
  font-size: 20px;
  border: none;
  border-radius: 45px;
  height: 80px;
  width: 200px;
  transform: translate(160px, 480px);
}
.signup:hover {
  background-color: #95cb4e;
}
.signup:active {
  background-color: #c1ff75;
}
.texts {
  position: absolute;
  right: 50px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text-block h3 {
  font-size: 35px;
  width: 200px;
  gap: 1px;
  color: #c1ff72;
  margin: 0 0 10px 0;
}
.text-block p {
  font-family: "Pragmatica";
  font-size: 16px;
  width: 400px;
}
/* SIGN UP CALL */
.signup-call h2 {
  color: #343434;
  font-size: 2.4em;
  position: absolute;
  margin-top: 40px;
}
#container-sports-signup {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
#container-sports-signup div {
  text-align: center;
  transform: translate(110px, 120px);
}
#container-sports-signup img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 10px;
}
#container-sports-signup p {
  font-weight: bold;
  font-size: 24px;
  color: #343434;
  margin: 0;
}
.signup-call .signup {
  background-color: #c1ff72;
  color: #343434;
  font-family: "Pragmatica";
  font-size: 20px;
  border: none;
  border-radius: 45px;
  height: 80px;
  width: 200px;
  transform: translate(-260px, 390px);
}
.signup:hover {
  background-color: #95cb4e;
}
.signup:active {
  background-color: #c1ff75;
}
/* FOOTER */
.footer-site {
  background-size: cover;
  background-position: center;
  height: 20vh;
  width: 100vw;
  position: relative;
}
.footer-site {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-site h5 {
  margin-bottom: 10px;
  font-size: 18px;
  font-size: 24px;
}
.footer-site a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Pragmatica";
}
.footer-site a:hover {
  text-decoration: underline;
}
.info-1,
.info-2 {
  transform: translateY(30px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Traines */
.trainer-background {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.card-trainer-area {
  background-color: #060d0c;
  margin-top: 0px;
  margin-left: 12vw;
  margin-right: 12vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.card-trainer-area h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 48px;
}
.card-trainer-area h3 {
  margin: 0;
  text-align: center;

  font-size: 38px;
}
.card-trainer-area h4,
li,
p {
  font-family: "Pragmatica", sans-serif;
  font-size: 18px;
}
.card-trainer-area h3 #green {
  color: #c1ff72;
}
.card-trainer-area h3 #white {
  color: white;
}

/* Routines */
.routines-background, .workouts-background, .user-background, .login-background, .signup-background{
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.routines-area , .workouts-area, .user-area, .login-area, .signup-area {
  background-color: #060d0c;
  margin-top: 0px;
  margin-left: 12vw;
  margin-right: 12vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.all-routines-card, .all-workouts-card, .all-my-routines-card {
  position: absolute;
  transform: translateY(70px);
  height: 1000px;
  width: 72vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.all-my-routines-card {
  transform: translateY(180px);
}
.routine-card, .workouts-card, .user-routines-card{
  font-family: "Pragmatica", sans-serif;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #c1ff72;
  width: 300px;
  height: 420px;
  margin: 8px;
}

.routines-area h1, .workouts-area h1, .user-area h1 {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 48px;
}
.user-area h2{
  color: white;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}

.routine-card h3, .workouts-card h3, .user-routines-card h3{

  font-family: "Anton";
  font-size: 26px;
}
.user-routines-card h4, .routine-card h4, .workouts-card h4{
  font-size: 23px;
}
.user-routines-card p, .routine-card p, .workouts-card p{
  font-size: 15px;
}
.buttons-card-routine, .button-user  {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
 transform: translateY(330px);
 
}
.button-workout{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
 transform: translateY(370px);
}
.buttons-card-routine p,.button-user p{
 height: 5px;
}
.user-area h1 span{
  color:#c1ff72
}
.user-details{
  
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* CHRONO */
.chrono {
  width: 300px;
  height: 300px;
  margin-top: 20px;
  border: 1px solid #c1ff72;
  border-radius: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chrono .buttons-chrono {
  margin: 20px;
}

.green-background {
  background-color: #c1ff72;
  height: 100vh;
}

.black-area {
  background-color: #060d0c;
  margin-left: 12vw;
  margin-right: 12vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.black-area span {
  color: #c1ff72;
}

/*  LOGIN & SIGN UP */

.login-card {
  background-color: #333;
  margin-top: 5px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #c1ff72;
  width: 300px;
  height: 420px;
  transform: translateY(50px);
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(100px);
}

.login-container h2, .signup-container h2{
  font-family: "Anton";
  color: #c1ff72;
  font-size: 35px;
}
.login-container h2 #white, .signup-container h2 #white {
  color: white;
}

.signup-card {
  background-color: #333;
  margin-top: 5px;
  border: 2px solid;
  border-radius: 10px;
  border-color: #c1ff72;
  width: 300px;
  height: 420px;
  transform: translateY(50px);
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(15px);
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0px);
}



/* MÓVILES */
@media only screen and (max-width: 600px) {
 
  .main-background {
    background-position: top center;
    background-size: cover;
    height: 80vh;
  }
  .main-background h1 {
    font-size: 54px; 
    width: 90vw; 
    transform: translate(25px,300px); 
    text-align: center; 
  }
  .main-background .signup, 
  .our-workout-routines-container .signup, 
  .signup-call .signup {
    transform: translate(0, 550px);
    margin: 0 auto;
    height: 48px; 
    width: 128px; 
    display: block;
  }
  
  
  .opinions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    height: 85vh;
   
  }
  #op1, #op2, #op3, #op4 {
    width: 45%; 
    height: 280px;
    margin: 10px 0;
    transform: translateY(60px);
  }
  .opinions-container p {
    width: 180px;
    height: 280px;
    text-align: center;
    margin-top:50px;
    margin-left: 20px;
    font-size: 12px;
    transform: translateX(-18px);
  }
  #avatar1,
  #avatar2,
  #avatar3,
  #avatar4 {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 40px;
    transform: translate(58px, -40px);
  }

  .our-workout-routines-container{
    transform: translateY(-50px);
    height: 100vh;

  }
  .our-workout-routines-container h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
    transform: translate(0, 20px); 
  }
  .texts {
    position: static; 
    width: 100%;
    margin-top: 50px;
    padding: 0 20px;
  }
  .texts p {
    font-size: 16px; 
    margin: 10px 0;
  }
  .texts h2 {
    font-size: 32px; 
    text-align: center;
  }

  
  .our-workout-routines-container .signup {
    transform: translate(0, 840px);
    margin: 50px auto;
    display: block;
  }

  
  #container-sports-signup {
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
  }
  #container-sports-signup div {
    width: 45vw
  }
  .signup-call {
    height: 100vh;
    transform: translateY(-50px);
  }
  
  .signup-call .signup {
    transform: translate(-95px, 780px);
    margin: 50px auto; 
    display: block;
  }
  .footer-site {
    height: 30vh;
    transform: translateY(-50px);
  }
}

