@font-face {
  font-family: 'Pragmatica';
  src: url('fonts/fonnts.com-Pragmatica_Ext_Book.otf') format('truetype');
}
#root {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.main-background {
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
  position: relative;
}
.main-background h1 {
  font-size: 120px;
  width: 45vw;
  margin: 0;
  color: #c1ff72;
  display: flex;
  flex-wrap: wrap;
  transform: translate(80px, 300px);
  line-height: 1;
}
#h1-white{
  color: white;
}

.signup {
  padding: 10px 20px;
  background-color: #c1ff72;
  color: #343434;
  font-family: "Pragmatica";
  font-size: 20px;
  border: none;
  border-radius: 45px;
  height: 80px;
  width: 200px;
  transform: translate(900px, 120px);
}
.signup:hover {
  background-color: #c1ff70;
}
.signup:active {
  background-color: #c1ff75;
}

.opinions-container {
  width: 100vw;
  height: 60vh;
  margin-top: 0;
  background-color: #f1f1f1;
  margin-top: px;
  position: absolute;
  bottom: -60vh;
}
.opinions-container h3 {
  color: #343434

}


.discover-container {
  width: 100vw;
  height: 20vh;
  margin-top: 0;
  margin-top: px;
  position: absolute;
  bottom: -40vh;
}
.discover-container h3 {
  font-size: 2,5vh;
  color: #A0F9C5;
}

.our-workout-routines-container {
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100vw;
  transform: translateY(200px);
}

.footer-site {
background-color: black;

}

